<div class="container p-4">
    <h1 class="align-center">You can view all the list of books and add them to the cart</h1>
</div>
<div class="container">
    <div class="row">
        @for(books of allBooks; track books){
            <div class="col-xs-12 col-sm-12 card p-5 m-5" style="width: 18rem;">
                <img src="../../assets/1.jpg" class="card-img-top" alt="{{ books.title }}">
                <div class="card-body p-2 m-2">
                    <h5 class="card-title">{{ books.title }}</h5>
                    <p class="card-text">{{ books.description }}</p>
                    <p class="card-text">{{ books.category }}</p>
                    <p class="card-text">{{ books.author }}</p>
                    <p class="card-text">Price: ₹ {{ books.price }}</p>
                    <button class="btn btn-primary" (click)="addToCart(books)">Add to Cart</button>
                </div>
            </div>
        } @empty{
            <p>No books found</p>
        }
    </div>
</div>
