<div class="container p-4 mt-5">
    <h3 class="align-center">Your cart, all books added will appear here</h3>
</div>

<div class="container">
    <div class="row">
        @for(books of allCartItems; track books){
            <div class="col-xs-12 col-sm-12 card p-3 m-3" style="width: 18rem;">
                <img src="../../assets/1.jpg" class="card-img-top" alt="{{ books?.item?.title }}">
                <div class="card-body p-2 m-2">
                    <h5 class="card-title">{{ books?.item?.title }}</h5>
                    <p class="card-text">{{ books?.item?.description }}</p>
                    <p class="card-text">{{ books?.item?.category }}</p>
                    <p class="card-text">{{ books?.item?.author }}</p>
                    <p class="card-text">Price: ₹ {{ books?.item?.price }}</p>
                </div>
            </div>
        } @empty{
            <p>Nothing in your cart</p>
        }
    </div>
    <div class="row m-2 pl-2" *ngIf="allCartItems?.length">
        <div class="col-xs-12 col-sm-12">
            <h3>Total Price: ₹ {{ totalPrice }}</h3>
            <button class="btn btn-primary" (click)="Checkout()">Checkout</button>
        </div>
    </div>
</div>