<!-- nav -->
<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/books" routerLinkActive="active">Books</a>
      <a class="nav-item nav-link" routerLink="/orders" routerLinkActive="active">My Orders</a>
      <a class="btn btn-link nav-item nav-link" (click)="logout()">Logout</a>
      <a routerLink="/cart" routerLinkActive="active" class="btn btn-secondary position-relative">
        Cart 
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary" *ngIf="allCartItems?.length">
          {{allCartItems?.length}}
        </span>
      </a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>